---
import type { Section } from "@/types";
import { z } from "astro/zod";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import type { processSectionSchema } from "@/sections.schema";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import SectionTitle from "../global/SectionTitle.astro";
import SectionBadge from "../global/SectionBadge.astro";
import { markdownify } from "@/lib/utils/textConverter";

// Type
type SectionType = Section & NonNullable<z.infer<typeof processSectionSchema>>;
type Props = {
  content?: SectionType;
};

// Default content fetch from sections collection
let defaultContent = (
  await getEntryCTM("sections", "process-section", Astro.currentLocale)
)?.data as SectionType;

// Merge with prop overrides
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as SectionType;

const {
  enable = true,
  badge,
  title,
  description,
  services,
  image,
  imageAlt,
  imageVerticalTitle,
} = actualContent ?? {};

if (!enable) return;
---

<section class="bg-light relative overflow-hidden">
  <div
    class="container grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-14 xl:gap-20">
    <!-- Left -->
    <div
      class="flex flex-col items-start gap-10 lg:text-right xl:gap-20"
      data-aos="reveal-anim-right"
      data-aos-duration="600">
      {
        image && (
          <div class="relative w-full shrink-0 overflow-hidden">
            <OptimizedImage
              src={image}
              alt={imageAlt}
              width={620}
              height={676}
              widths={[480, 560, 620]}
              sizes="(min-width: 1024px) 50vw, 100vw"
              class="h-full w-full object-cover"
            />
            {imageVerticalTitle && (
              <h3
                class="bg-light text-dark xl:text-h6-sm absolute -bottom-px -left-px rotate-180 px-3 py-4 text-center text-xs tracking-wider [writing-mode:vertical-lr] sm:text-base md:px-5 md:py-5 lg:text-base"
                set:html={markdownify(imageVerticalTitle)}
              />
            )}
          </div>
        )
      }
    </div>
    <!-- Right -->
    <div class="flex flex-col items-start gap-2 xl:gap-5">
      <div>
        {
          badge && (
            <SectionBadge
              title={badge}
              dataAos="reveal-anim-left"
              variant="secondary"
            />
          )
        }
        {title && <SectionTitle title={title} dataAos="reveal-anim-left" />}
      </div>
      {
        description && (
          <p
            class="text-text-dark/90 text-lg"
            set:html={markdownify(description)}
          />
        )
      }
      {
        services && services.length > 0 && (
          <div class="divide-border-dark border-border-dark grid w-full grid-cols-1 items-center divide-y border-y lg:mt-3 lg:items-end">
            {services.map((service, index) => (
              <div
                class:list={[
                  "group flex flex-col gap-2 py-2 transition-colors md:gap-2 xl:gap-3 xl:py-6",
                ]}>
                <h3
                  class="text-h6-sm xl:text-h5-sm flex items-center gap-4"
                  set:html={`<span>${String(index + 1).padStart(2, "0")}/</span><span>${service.title}</span>`}
                />

                {service.description && (
                  <div class="flex items-center gap-2">
                    <p
                      class="text-text-dark/80 lg:text-md w-full max-w-sm leading-normal"
                      set:html={markdownify(service.description)}
                    />
                  </div>
                )}
              </div>
            ))}
          </div>
        )
      }
    </div>
  </div>
</section>
